.idea
.DS_Store
fast_api/static/uploads
fast_api/__pycache__
flask_app/.DS_Store
flask_app/static/.DS_Store
runs/DS_Store
runs/detect/.DS_Store
runs/detect/train/.DS_Store
data_old/.DS_Store
data_old/test/.DS_Store
